---
import blem from "blem";
import { __packages, __filteredPackages } from "@stores/search";
import type { Package, RawPackage, PackageKind } from "@types/Package.ts";
import PackageListing from "@components/PackageListing.tsx";
import Searchbar from "@astro/Searchbar.astro";
interface Props {
  packages: Package[];
}
const { packages = [] } = Astro.props;
const bem = blem("Packages");
---

<div className={bem("")}>
  <Searchbar />
  {
    packages.length > 0 ? (
      <PackageListing client:load />
    ) : (
      <div className={bem("no-packages")}>
        No matching packages found.
        <br />
        Try changing your search parameters.
      </div>
    )
  }
</div>

<style>
  .Packages {
    width: 100%;
    min-height: 80vh;
    height: 100%;
  }
  .Packages__no-packages {
    font-size: 0.825rem;
    margin: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    color: var(--color-fg);
    text-shadow:
      0 0 4px rgba(200, 175, 0, 0.8),
      0 0 10px rgba(255, 200, 0, 0.8);
  }
</style>
