---
import blem from "blem";
import Search from "@components/Search.tsx";
import Telescope from "@icons/Telescope.astro";
import CheckboxOfficial from "@components/CheckboxOfficial.tsx";
import CheckboxPublished from "@components/CheckboxPublished.tsx";
import PackageKindSelector from "@components/PackageKind.tsx";

const bem = blem("Searchbar");
---

<div className={bem("")}>
  <menu className={bem("menu")}>
    <Search placeholder="Search packages" client:load />
    <div className={bem("filters")}>
      <PackageKindSelector client:load />
      <CheckboxOfficial client:load />
      <CheckboxPublished client:load />
    </div>
  </menu>
</div>

<style>
  .Searchbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .Searchbar__title {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2rem;
    /*@media screen and (min-width: $mq-1) {*/
    /*  width: 30%;*/
    /*  margin-bottom: 0;*/
    /*}*/
  }
  .Searchbar__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    width: 100%;
    /*@media screen and (min-width: $mq-1) {*/
    /*  width: 65%;*/
    /*  justify-content: flex-end;*/
    /*}*/
  }
  .Searchbar__label--select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 35%;
    margin: 0;
    padding: 0;
  }
  .Searchbar__label--select .Searchbar__label-text {
    margin-right: 0.5rem;
  }
  .Searchbar__select {
    font-family: "Fira Code", monospace;
    width: 100%;
  }
  .Searchbar__select option {
    font-family: "Fira Code", monospace;
  }
  .Searchbar__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*@media screen and (min-width: $mq-1) {*/
    /*  justify-self: flex-end;*/
    /*}*/
  }

  .Searchbar__input--text {
    padding: 0.5rem;
    border: 1px solid var(--color-white50);
    color: var(--color-fg);
    border-radius: 4rem;
    background-color: black;
  }
  .Searchbar__input--text:focus {
    outline: 1px solid var(--color-yellow);
  }

  .Searchbar__label-text {
    transition: color 0.3s ease-in;
    color: var(--color-fg);
  }
  .Searchbar__label {
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    margin: 0.25rem 0;
    margin-right: 0.75rem;
  }
  .Searchbar__label:last-of-type {
    margin-right: 0;
  }
  .Searchbar__label--kind {
    width: 60%;
    min-width: 60%;
  }
</style>
