.PackageSummary {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  fill: var(--color-fg);
}
.PackageSummary__link--repo:hover svg {
  fill: var(--color-pink);
}
.PackageSummary__version {
  font-size: 0.75rem;
}
.PackageSummary__author-text {
  transition: color 0.3s ease-out;
}
.PackageSummary__link--author .Package__author-text {
  color: var(--color-fg);
}
.PackageSummary__link--author:hover .Package__author-text {
  color: var(--color-pink);
}
.PackageSummary__repo {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: fill 0.3s ease-out;
  fill: var(--color-fg);
  align-self: center;
  max-width: 1.5rem;
  max-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.PackageSummary__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}
.PackageSummary__authorbox {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.PackageSummary__link--author {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  align-items: center;
}
.PackageSummary__avatar {
  margin-right: 0.5rem;
}
.PackageSummary__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.PackageSummary__description {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}
.PackageSummary__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.PackageSummary__avatar {
  border-radius: 10rem;
  align-self: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.PackageSummary__tagbox {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 10rem;
  justify-content: flex-end;
}
