.Search {
  &__search-wrapper {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-white50);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0 white;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    transition:
      background 0.3s ease-out,
      width 0.3s 0.3s ease-out,
      filter 0.3s ease-out,
      box-shadow 0.3s ease-out;
    &:hover {
      border: 1px solid var(--color-yellow);
      // box-shadow: 0 0 5px rgba(255,200,0, 0.8), 0 0 10px rgba(255,255,0, 0.5);
    }
    cursor: text;
    width: 100%;
    z-index: 10;
    &:focus-within,
    &--searching {
      // width: 20rem;
      box-shadow: 0 0 8px white;
      background-color: white;
      z-index: 10;
      .Search__search-icon {
        fill: var(--color-bg);
      }
    }
  }
  &__search-icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 1rem;
    top: 0.35rem;
    left: 0.45rem;
    fill: var(--color-fg);
    // margin-left: 0.25rem;
    // margin-right: 0.25rem;
  }
  &__search-icon {
    position: relative;
    width: 1rem;
    height: 1rem;
  }
  &__search {
    font-family: "Fira Code", monospace;
    width: 100%;
    height: calc(2rem - 2px);
    padding-left: 1.75rem;
    color: var(--color-white50);
    // border-radius: 0 1rem 1rem 0;
    transition:
      color 0.3s ease-out,
      width 0.3s ease-out,
      box-shadow 0.3s 0.3s ease-out,
      background 0.3s 0.6s ease-out;
    background-color: transparent;
    border: 1px solid transparent;
    &:focus,
    &:active {
      color: var(--color-bg);
      cursor: text;
      outline: 1px solid var(--color-yellow);
    }
  }
}
