---
import blem from "blem";
import SearchField from "@components/SearchField.tsx";
import { __search } from "@stores/search.ts";
const bem = blem("Search");
interface Props {
  search?: string;
  placeholder: string;
}
const { search = __search.get(), placeholder } = Astro.props;
---

<div
  className={bem("search-wrapper", [search === "" ? "waiting" : "searching"])}
>
  <div className={bem("search-icon-wrapper")}>
    <slot name="icon" />
  </div>
  <SearchField client:load />
</div>

<style>
  .Search__search-wrapper {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-white50);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0 white;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    transition:
      background 0.3s ease-out,
      width 0.3s 0.3s ease-out,
      filter 0.3s ease-out,
      box-shadow 0.3s ease-out,
      fill 0.3s ease-out,
      border 0.3s ease-out;
    cursor: text;
    width: 100%;
    z-index: 10;

    fill: var(--color-fg);
  }
  .Search__search-wrapper:hover {
    border: 1px solid var(--color-yellow);
  }
  .Search__search-wrapper:focus-within,
  .Search__search-wrapper--searching {
    box-shadow: 0 0 8px white;
    background-color: white;
    z-index: 10;
    fill: var(--color-bg);
  }

  .Search__search-icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 1rem;
    top: 0.35rem;
    left: 0.45rem;
  }
</style>
